{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron mt-5">
    <img 
      src="https://i.pinimg.com/originals/57/2c/33/572c330305e9a327f546a975039d9cad.png" 
      alt=""
      class="rounded-circle overflow-hidden profile-photo"
    >
    <h1 class="display-4">{{ person.username }}님의 profile</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <div class="w-25 d-flex justify-content-between">
      {% comment %} <p>게시물 : {{person.article_set.count}}</p>{% endcomment %}
      <p>팔로우 : {{person.followings.count}}</p>
      <p>팔로워 : {{person.followers.count}}</p> 
    </div>
        
  {% if not request.user == person %}
    <form action="{% url 'accounts:follow' person.username %}" method="post">
        {% csrf_token %}
        {% if request.user in person.followers.all %}
          <input type="submit" class="btn btn-primary" value="follow 취소">
        {% else %}
          <input type="submit" class="btn btn-primary" value="follow">
        {% endif %}
      </form> 
  {% endif %}
    
  </div>


   
    {% comment %} <h2>{{ person.username }}님이 작성한 글</h2> {% endcomment %}
    {% comment %} {% for article in person.article_set.all %}
        <div>{{article.title}}</div>
    {% endfor %}
     {% endcomment %}


    {% comment %} <h2>{{ person.username }}님이 좋아요한 글</h2>
    {% for article in person.like_articles.all %}
        <div>{{article.title}}</div>
    {% endfor %} {% endcomment %}
    

{% endblock content %}