{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container detailcontainer mt-5" style="max-width:900px;">

    <header class="row d-flex p-3">
      <!--profile 사진-->
      <section class="col-4 d-flex flex-column">
        {% if person.profile_image %}
          <div class="mx-auto profile-container"><img class="profile-photo" src="{{ person.profile_image.url }}" alt="{{ person.profile_image}}"></div>
        {% else %}
          <div class="mx-auto profile-container"><img class="profile-photo" src="{% static 'images/profile_dft.png' %}"  alt=""></div>
        {% endif %}
          <form class="d-flex" style="position:absolute; right:0; bottom:0;" action="{% url 'accounts:profile_image' request.user %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="ml-5 form-control-file" type="file" name="profile_image" style="color:transparent;" accept="image/*" id="id_profile_image">
            <!-- {% bootstrap_form form layout='inline'%} -->
            <input class="mr-5" type="submit">
          </form>
      </section>

    
      <section class="col-8">
        <!--ID, follow버튼, 설정-->
        <div class="d-flex align-items-center">
          <p class="m-0" style="font-size:2rem;">{{ person.username }}</p>
          {% if request.user != person %}
            <form id="followBtnForm" data-personName="{{person.username}}" action="{% url 'accounts:follow' person.username %}" method="POST">
              {% csrf_token %}
              {% if request.user in person.followers.all %}
                <button class="btn btn-outline-secondary ml-3 followBtn">UNFOLLOW</button>
              {% else %}
                <button class="btn btn-primary ml-3 followBtn">FOLLOW</button>
            </form>

            {% endif %}
          <!--나의 프로필 화면-->
          {% else %}
            <form action="{% url 'accounts:update' %}" method="">
              <button class="btn btn-outline-secondary follow ml-3" style="color:black;"><b>프로필편집</b></button>
            </form>
            <div class="pl-3 ">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-gear-wide" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 0 0-9.995 4.998 4.998 0 0 0 0 9.996z"/>
              </svg>
            </div>
          {% endif %}
        
        </div> 
        <!--게시물 수, 팔로워 수, 팔로잉 수-->
        <div>
          <ul class="d-flex my-2 p-1" style=""> <!--margin-rignt=40px;-->
            <li class=" mx-3" style="list-style-type: none;"><b>게시물 </b> {{ person.reviews.count }}</li>
            <li class=" mx-3" style="list-style-type: none;"> <b>팔로워 </b><span id="follower_count"> {{ person.followers.count}}</span></li>
            <li class=" mx-3" style="list-style-type: none;"> <b>팔로잉 </b><span id="following_count"> {{ person.followings.count}}</span></li>
          </ul>
        </div>

        <!--이름-->
        <div>
          <p><b> {{person.last_name}} {{person.first_name}} </b></p> <!--이름 입력받을때 한꺼번에입력받기-->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione modi non porro! Libero similique quisquam molestiae veritatis, aspernatur praesentium consequatur assumenda id velit animi deserunt perferendis est ullam minima quaerat?</p>
        </div> 
      </section>
    </header>
    <hr>
    <div>
      <!--작성글-->
      <p class="mx-3 notofont" style=""><b>{{person.username}} 님이 작성한 게시글</b></p>
      <hr>
      {% if person.reviews.all|length %}
        {% for review in person.reviews.all %}
          <ul class="d-flex m-0 p-0 justify-content-start align-items-baseline" style=""> 
            <li class="review-list-item" style=""><a title="영화 자세히보기" href="{% url 'movies:moviedetail' review.movie.pk %}"><b style="font-family:notoR; color:rgb(140, 140, 140);">{{review.movie}}</a></b></li>
            <li class="review-list-item" style=""><a title="리뷰 자세히보기" style="color:black;" href="{% url 'reviews:detail' review.pk %}">{{review.title}}</a></li>
            <li class="review-list-item" style="">2020-08-28</li>
          </ul>
        {% endfor %}
      {% else %}
        <div class="p-0 empty-rv mb-3">
          <div class="d-flex flex-column justify-content-center align-items-center p-3" >
            <p class="m-0" style="font-weight:lighter;">아직 리뷰가 없어요.</p>
            <p class="m-0" style="font-weight:lighter;">첫 번째 리뷰를 남겨주세요.</p>
          </div>
        </div>
      {% endif %}
      <hr class="mt-1">
      <!-- 좋아요 글-->
      <p class="mx-3 notofont"><b>{{person.username}} 님이 좋아하는 게시글</b></p>
      <hr>

      {% if person.like_articles.all|length %}
        {% for review in person.like_articles.all %}
          <ul class="d-flex m-0 p-0 justify-content-start align-items-baseline" style=""> 
            <li class="review-list-item" style=""><a title="영화 자세히보기" href="{% url 'movies:moviedetail' review.movie.pk %}"><b style="font-family:notoR; color:rgb(140, 140, 140);">{{review.movie}}</a></b></li>
            <li class="review-list-item" style=""><a title="리뷰 자세히보기" style="color:black;" href="{% url 'reviews:detail' review.pk %}">{{review.title}}</a></li>
            <li class="review-list-item" style=""><a title="프로필 보기" style="color:black;" href="{% url 'accounts:profile' review.author.username%}">{{review.author}}</a></li>
            <li class="review-list-item" style="">2020-08-28</li>
          </ul>
        {% endfor %}
      {% else %}
        <div class="p-0 empty-rv mb-3">
          <div class="d-flex flex-column justify-content-center align-items-center p-3" >
            <p class="m-0 my-3" style="font-weight:lighter;">좋아하는 게시글이 없어요.</p>
          </div>
        </div>
      {% endif %}
      <hr class="mt-1" style="margin-bottom:0; padding-bottom:16px;">  
    </div>


{% endblock content %}

{% block script %}
  <script>


    // follow
    const followBtnForm = document.querySelector('#followBtnForm')
    followBtnForm.addEventListener('submit', (e) => {
      e.preventDefault() 

      console.log(followBtnForm.dataset)
      const personname = followBtnForm.dataset.personname
      const API_URL = `/accounts/${personname}/follow/`
      const csrftoken = document.querySelector('input[name=csrfmiddlewaretoken]').value
      const options = {headers: {'X-CSRFToken': csrftoken}} 

      axios.post(API_URL, {}, options)
        .then(res => {
          const followBtn = document.querySelector('.followBtn')
          const {is_follower, follower_count, following_count} = res.data
          const followerCount = document.querySelector('#follower_count')
          const followingCount = document.querySelector('#following_count')

          followerCount.innerText = `${follower_count}`
          followingCount.innerText = `${following_count}`
          followBtn.classList.toggle('btn-primary')
          followBtn.classList.toggle('btn-outline-secondary')
          followBtn.innerText = is_follower ? 'UNFOLLOW' : 'FOLLOW'
       })
        .catch(err => {
         console.error(err)
       })
    }) 




  </script>
{% endblock script %}