body {
  height: 100%;
} 


@font-face {
  font-family: dymo;
  src: url('../fonts/dymo.ttf');
  
}


@font-face {
  font-family: digital;
  src: url('../fonts/Digital.ttf');
}

@font-face {
  font-family: label;
  src: url('../fonts/ImpactLabel.ttf');
}



@font-face {
  font-family: hollywood;
  src: url('../fonts/hollywood.ttf');
}


@font-face {
  font-family: notoT;
  src: url('../fonts/notoT.otf');
}

@font-face {
  font-family: notoR;
  src: url('../fonts/notoR.otf');
}


@font-face {
  font-family: dh;
  src: url('../fonts/dh.ttf');
}


@font-face {
  font-family: serif;
  src: url('../fonts/serif.otf');
}





/* base.html */

.logo-size {
  width: 100px;
}

.background-size {
  width: 200px;
}

.navbar-bg {
  background-color: black;
}

.background-blk {
  background-color: black;
}

.nav-item-name {
  font-family: hollywood;
  font-size: 2rem;
}


/* 검색 결과 영화 관련 */


.imgfit {
  width:111px;
}



.moviecontainer {
  background-color : rgb(44, 46, 46);
  /* max-width: 1200px; */
  /* margin: auto; */
  margin-top: 60px;
  margin-bottom: 100px;
}

.moviecard {
  position:relative;
  width:120px;
  padding: 0 10px;
  margin: 30px 0;
}



.moviecard-img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}


.moviecard-img:hover {
  background-color: grey;
  opacity: 0.4;
}

.movierank {
  font-size:60px;
  position: absolute;
  /* color: #E4801D;
  color: #F0A81A; */
  color: #fffe37;
  /* color: #ed0003; */
  /* color:  #f4f814; */
  padding: 5px 15px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}



/* detail */




.movietitle {
  position: absolute;
  z-index: 1;
  color: white;
  font-size:60px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.detailcontainer {
  background-color: white;
  margin-top: 60px;
  margin-bottom: 100px;
}




/* form */

.formcontainer {
  /* background-color: white; */
  background-image: url(../images/dblue-leather.jpg);
  color:lightblue;
  color: #F0A81A;
  margin-top: 15px;
  margin-bottom: 100px;
  max-width:600px;
  padding:  15px;
}

.formdiv {
  border: 1px solid #F0A81A; width:100%; height:100%
}

.form-inner-box {
  padding: 20px 50px 40px 50px;
}


.formtitle {
  text-align: center;
  font-family: dh;
}






/* input */


.reviewinput { 
  outline : none;
  border: 0;
  border-bottom: 1px solid rgb(212, 211, 211);
}


.reviewinput:focus {
  outline: none;
  border:0; 
  border-bottom: 1px solid rgb(44, 46, 46);
}








/* 프로필 관련 */

.mini-prf-container {
  width: 30px;
  height: 30px;
}


.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 70%;
  overflow: hidden;
  margin: 3px;
}

.profile-image {
  width: 200px;
  position: relative;
}


.profile-container {
  height: 225px; 
  width: 225px;
}



/*  home */

.dymo1 {
  font-family: dymo;
  line-height: 62%;
  color : #f4f814;
  margin-top:10px;
  object-fit: cover;
  background-color: rgb(114, 18, 3);

  
}


.dymo2 {
  font-family: dymo;
  line-height: 62%;
  color :#DB4C77;
  margin-top:10px;
  object-fit: cover;
  background-color: white;
}



.label1 {
  font-family: label;
  display: inline;
  background-color: lightblue;
  line-height: 1.0;
  color : rgb(44, 46, 46);
  margin: 10px 0px 10px;
}



.label2 {
  font-family: label;
  display: inline;
  background-color: lightblue;
  line-height: 1.0;
  color : rgb(44, 46, 46);
  margin: 10px 0px 10px;
}


.digitalinput {
  font-family: digital;
  outline: none;
  border : 0;
  width: 100%;
  height: 60px;
  font-size: 60px;
  background-color: black;
  text-align: center;
  font-style:italic;
  letter-spacing: 10px;
  line-height: 100%;
}

.digitalcolor1 {
  color : greenyellow;
}


.digitalcolor2 {
  color : #FFA500;
}



.homebox1 {
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  margin-top:25px; 
  background-image: url(../images/pink-leather.jpg);
  border: 8px solid #E4801D;

}




.homebox2 {
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  margin-top:50px; 
  background-image: url(../images/blue-leather.jpg);

  border: 8px solid #296f62;
}


.light-grey {
  color:black;
}








/* button */


.cumstom-button {
  font-family: hollywood;
  display: inline-block;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.2rem 0.3rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 5px solid transparent;
  color : #B50D13;
  background-color: #F7DC11;

}

.form-button {
  font-size: x-large;
  line-height: 1.0;
}

.lg-button {
  font-size: xx-large;
  background-color:#003366;
  color:#F0A81A;
  line-height: 1.0;
  padding: 5px;
}


/* review-comment */
.reviewbtn {
  color: white;
  background-color: rgb(167, 162, 162);
  border-radius:0.25rem;
  border: none;
}

.cancelbtn {
  color: rgb(77, 75, 75);
  background-color: white;
  border: 1px solid rgb(177, 176, 176);
  border-radius:0.25rem;
}

.nobuttonfocus:focus {
  outline: none;
}



.download {
  display: inline-block;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.2rem 0.3rem;
  font-size: 1rem;
  line-height: 2;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 5px solid transparent;
  color: #2D9CCE;
  background-color:#F7DC11;
  /* border: 1px solid rgb(177, 176, 176); */
  border-radius:0.25rem;
  outline: none;
}


.input-file-button{
  padding: 0;
  font-family: notoT;
  margin: 10px 30px 0px;
  /* font-weight: bold; */
  width:45px;
  height:45px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(180, 180, 180);
  border-radius: 70%;
  color: white;
  cursor: pointer;
  border: 0;
  outline: none;
}


.input-file-button:hover {
  background-color: rgb(120,120,120);
}




/* review detail */

.review-title {
  display: inline;
  clear: both;
  font-weight: 500;
  vertical-align: middle;
}


.review-title-date {
  display: inline-block;
  position: absolute;
  right: 60px;
  /* bottom: 0; */
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.empty-rv {
  width:100%;
  height:100%; 
  border: 1px solid rgb(236, 233, 233);
}



/* icons */


.iconbtn {
  border:none;
  background-color:transparent;
  outline:none;
}

.iconbtn:focus {
  outline:none;
}

.iconcolor {
  color: rgb(167, 162, 162);
}


.iconcolor:hover {
  color: rgb(44, 46, 46);
}


.icon {
  margin: 5px;
  width: 1.25rem;
  height: 1.25rem;
}



.like {
  color:crimson;
}

.nolike {
  color: black;
}





.best-line {
  font-family: serif;
  font-style:italic;
  text-align:center;
  font-size:1.5rem;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}


.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: #888888;
  font-size: 25px;
  height: 25px;
  width: auto;
  margin: 0;
  position: relative;
  padding: 0;
}

.rating-upper {
  color: #c52b2f;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
}





.review-list-item {
  list-style-type: none;
  margin: 0 0 7px 20px;
  color: rgb(80, 80, 80);
}



.notofont {
  font-family:notoR;
  letter-spacing:1px;
}


.tolist-div {
  position:sticky;
  left:80px;
  top:380px; 
  color:white; 
  width: 100px; 
  height:100px; 
  vertical-align:middle; 
  font-family:dh;
}

.tolistbtn {
  width:150px;
  background-color: transparent;
  font-size: xx-large;
  color:white;
  border:none;
  outline:none;
  letter-spacing: 3px;
}

.tolistbtn:hover {
  color: #ffb347;
}

.tolistbtn:focus {
  outline:none;
}



.targettime {
  background-color: rgb(37, 36, 36);
  color : rgb(201, 199, 199);
  font-family: notoR;
  font-size:1.2rem;
  height: 50px;
  line-height: 2;
  margin: 0 15px 25px;
  display:inline;
  padding: 5px 25px;

  border-radius: 50px;
  text-align:center;
  vertical-align: center;
}



@-webkit-keyframes shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake1 {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.5s;
  -webkit-transform-origin: 40% 100%;
  -webkit-animation-iteration-count: infinite;
}

.shake2 {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.5s;
  -webkit-transform-origin:100% 40%;
  -webkit-animation-iteration-count: infinite;
}


.shake3 {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.5s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
}
