
{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div class="container formcontainer" style="margin-top:100px;">
    <div class="d-flex justify-content-center">
      <div class="p-2 formdiv">
        <h1 class="m-3 formtitle">{{ form_name }}</h1>
        <form action="" method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-stretch form-inner-box">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="d-flex justify-content-center">
            <button onclick="history.back(-1);" class="cumstom-button form-button align-self-center " style="margin-top:20px;color:rgb(247, 220, 17);background-color:rgb(181, 13, 19) !important;">cancel</button>
            <button class="cumstom-button form-button align-self-center ml-5" style="margin-top:20px;">{{ button_name }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}