{% extends 'base.html' %}
{% load static %}

{% block content %}

 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<a href="/1" data-toggle="modal" data-target="#exampleModal">모달모달</a>

 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:780px;" >
    <div class="modal-content d-flex flex-column" style="border-radius:0; border:none;" > 
      <div>
        <h1>hi</h1>  
      
      
      </div>




{% comment %}     
      <!-- 댓글 -->
     <div class="container m-0 p-3" style="max-width:800px; width=100%;"> 
        <div class="row">
          <div class="col-1">
            <div class="mini-prf-container">
              <!-- 로그인 된 유저 정보로 할 것-->
              <img class="profile-photo" src="{% static 'images/profile_default.jpg' %}" alt="profile">
            </div>
          </div>
          <div class="col-11">
            <input class="reviewinput" type="text" style=" width=500px;" size="75">
            <button class="">등록</button>
            <button class="">취소</button>
          </div>
        </div>
      </div>  {% endcomment %}


    </div>
  </div>
</div> 

{% endblock content %}