{% extends 'base.html' %}
{% load static %}

{% block content %}

  <form action="{% url 'movies:movies' %}" method="GET">


    <!-- time machine -->
    <div class="container homebox" style="background-color:grey; max-width:780px; margin-top:150px; ">
      <!-- destination title-->
      <div class="row">
        <div class="col-12 my-2 d-flex justify-content-center" style="text:center;">
          <h1 class="label tracking-in-expand" style="">DESTINATION TIME</h1>
        </div>
      </div>

      <!-- input & tags-->
      
        <div class="row">

          <div class="col-3 d-flex flex-column justify-content-center align-items-center">
            <input class="digitalinput" type="number" id="year" name="year" min="1" max="2020">
            <h1 class="dymo">YEAR</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <input class="digitalinput " type="number" id="month" name="month" min="1" max="12">
            <h1 class="dymo">MONTH</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <input class="digitalinput " type="number" id="day" name="day" min="1" max="31">
            <h1 class="dymo">DAY</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8" id="amlight" class="light-grey">
            </svg>
            <h1 class="dymo p-0">AM</h1>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8" id="pmlight" class="light-grey" >
            </svg>
            <h1 class="dymo p-0">PM</h1>
          
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0" id="hour">08</p>
            <h1 class="dymo">HOUR</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0" id="min">33</p>
            <h1 class="dymo">MIN</h1>
          </div>


        </div> <!-- input & tag 닫는 div-->  
    </div> <!-- timemachine container 닫는 div -->

    <div class="container d-flex justify-content-center align-items-center">
      <button class="m-5 cumstom-button lg-button"> Let's Go! </button>
    </div>
  </form>


{% endblock content %}


{% block script %}

  <script>
    document.getElementById("year").onkeyup= function() {
       var input=parseInt(this.value);
       if(input<0 || input>2020) {
        alert("Value should be between 0 - 2020");
        this.value = ''
       }
       return;
    }    
    document.getElementById("month").onkeyup= function() {
       var input=parseInt(this.value);
       if(input<0 || input>12) {
        alert("Value should be between 1 - 12");
        this.value = ''
       }
       return;
    }    
    document.getElementById("day").onkeyup= function() {
       var input=parseInt(this.value);
       if(input<0 || input>31) {
        alert("Value should be between 1 - 31");
        this.value = ''
       }
       return;
    }    

    function addZero (i){
      parseInt(i)
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }
    const now = new Date()
    
    const nowHour = addZero(now.getHours())
    const nowMin = addZero(now.getMinutes())

    const amLight = document.querySelector('#amlight')
    const pmLight = document.querySelector('#pmlight') 
      if (nowHour >= 0 && nowHour <12) {
        amLight.classList.replace('light-grey', 'light-green')
        pmLight.classList.replace('light-green', 'light-grey')
      } else {
        amLight.classList.replace('light-green', 'light-grey')
        pmLight.classList.replace('light-grey', 'light-green')
      }
      const Hour = document.querySelector('#hour')
      const Min = document.querySelector('#min')
      Hour.innerText = nowHour
      Min.innerText = nowMin  
  </script>
{% endblock script %}
