{% extends 'base.html' %}
{% load static %}

{% block content %}

  {% comment %} <div class="rotate-scale-up">
    <img src="{% static 'images/timetravel.png' %}" style="visibility:hidden;">
  </div>
  <form id="homeform" action="{% url 'movies:movies' %}" method="GET">
 {% endcomment %}

    <!-- time machine -->
    <div class="container homebox1" style="background-color:grey; max-width:780px; ">
      <!-- destination title-->
      <div class="row">
        <div class="col-12 my-2 d-flex justify-content-center" style="text:center;">
          <h1 class="label1 tracking-in-expand" style="">DESTINATION TIME</h1>
        </div>
      </div>

      <!-- input & tags-->
      
        <div class="row">

          <div class="col-3 d-flex flex-column justify-content-center align-items-center">
            <input class="digitalinput digitalcolor1 " type="number" id="year" name="year" min="1" max="2020">
            <h1 class="dymo1">YEAR</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <input class="digitalinput digitalcolor1" type="number" id="month" name="month" min="1" max="12">
            <h1 class="dymo1">MONTH</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <input class="digitalinput digitalcolor1" type="number" id="day" name="day" min="1" max="31">
            <h1 class="dymo1">DAY</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8" id="amlight1" class="light-grey digitalcolor1">
            </svg>
            <h1 class="dymo1 p-0">AM</h1>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8" id="pmlight1" class="light-grey digitalcolor1" >
            </svg>
            <h1 class="dymo1 p-0">PM</h1>
          
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 hour digitalcolor1" id="hour">08</p>
            <h1 class="dymo1">HOUR</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 min digitalcolor1" id="min">33</p>
            <h1 class="dymo1">MIN</h1>
          </div>


        </div> <!-- input & tag 닫는 div-->  
    </div> <!-- timemachine container 닫는 div -->


    <!-- 현재시간 정보-->

    <div class="container homebox2" style="background-color:grey; max-width:780px;">
      <!-- present title-->
      <div class="row">
        <div class="col-12 my-2 d-flex justify-content-center" style="text:center;">
          <h1 class="label2 tracking-in-expand" style="">PRESENT TIME</h1>
        </div>
      </div>

      <!-- input & tags-->
      
        <div class="row">

          <div class="col-3 d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 year digitalcolor2" id="present-year">2008</p>
            <h1 class="dymo2">YEAR</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 month digitalcolor2" id="present-month">08</p>
            <h1 class="dymo2">MONTH</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 day digitalcolor2" id="present-day">08</p>
            <h1 class="dymo2">DAY</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8" id="amlight2" class="light-grey digitalcolor2">
            </svg>
            <h1 class="dymo2 p-0">AM</h1>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8" id="pmlight2" class="light-grey digitalcolor2" >
            </svg>
            <h1 class="dymo2 p-0">PM</h1>
          
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 hour digitalcolor2" id="hour">08</p>
            <h1 class="dymo2">HOUR</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 min digitalcolor2" id="min">33</p>
            <h1 class="dymo2">MIN</h1>
          </div>


        </div> <!-- input & tag 닫는 div-->  
    </div> <!-- timemachine container 닫는 div -->



    <div class="container d-flex justify-content-center align-items-center">
      <button class="m-5 cumstom-button lg-button" id="button"> Let's Go! </button>
    </div>
  </form>

  <div class="d-flex justify-content-center">
    <div class="list-group">
      <a href="{% url 'movies:movies' %}?year=2019&month=12&day=25" class="list-group-item list-group-item-action active">
        작년 크리스마스 영화 순위
      </a>
      <a href="{% url 'movies:movies' %}?year=2019&month=02&day=13" class="list-group-item list-group-item-action">
        작년 발렌타인 어떤 영화가 1위 했을까?
      </a>
      <a href="{% url 'movies:movies' %}?year=2019&month=04&day=11" class="list-group-item list-group-item-action">
        19년 중간고사 기간에 놓쳤던 영화들 
      </a>
      <a href="{% url 'movies:movies' %}?year=2018&month=04&day=28" class="list-group-item list-group-item-action">
        어벤져스 영화가 언제 개봉했지?
      </a>
    </div>
  </div>

        {% comment %} #20130302 입학
        # 20150927 추석
        # 20170213 발렌타인
        # 20191225 크리스마스
        # 20180428 어벤져스

        # 20190213 발렌타인
        # 20191111 빼뺴로
        # 20190508 어버이날
        # 20190815 광복절
        # 20190411 중간고사 {% endcomment %}


{% endblock content %}


{% block script %}

  <script>
    document.getElementById("year").onkeyup= function() {
       var input=parseInt(this.value);
       if(input<0 || input>2020) {
        alert("Value should be between 0 - 2020");
        this.value = ''
       }
       return;
    }    
    document.getElementById("month").onkeyup= function() {
       var input=parseInt(this.value);
       if(input<0 || input>12) {
        alert("Value should be between 1 - 12");
        this.value = ''
       }
       return;
    }    
    document.getElementById("day").onkeyup= function() {
       var input=parseInt(this.value);
       if(input<0 || input>31) {
        alert("Value should be between 1 - 31");
        this.value = ''
       }
       return;
    }    

    function addZero (i){
      parseInt(i)
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }
    const now = new Date()
    console.log(now)
    
    //현재 시간 변수들
    const nowYear = now.getFullYear()
    const nowMonth = addZero(now.getMonth() +1)
    const nowDay = now.getDate()
    const nowHour = addZero(now.getHours())
    const nowMin = addZero(now.getMinutes())

    // const amLights = document.querySelectorAll('.amlight')
    // const pmLights = document.querySelectorAll('.pmlight') 
    //   amLights.forEach(amLight => {
    //     if (nowHour >= 0 && nowHour <12) {
    //     amLight.classList.replace('light-grey', 'light-green')
        
    //   } else {
    //     amLight.classList.replace('light-green', 'light-grey')
    //   }
    //   })

    //   pmLights.forEach(pmLight => {
    //     if (nowHour >= 0 && nowHour <12) {
    //       pmLight.classList.replace('light-green', 'light-grey')
        
    //   } else {
    //     pmLight.classList.replace('light-grey', 'light-green')
    //   }
    //   })

      
    const amLight1 = document.querySelector('#amlight1')
    const pmLight1 = document.querySelector('#pmlight1') 
      
    if (nowHour >= 0 && nowHour <12) {
      amLight1.classList.replace('light-grey', 'digitalcolor1')
      pmLight1.classList.replace('digitalcolor1', 'light-grey')
      
    } else {
      amLight1.classList.replace('digitalcolor1', 'light-grey')
      pmLight1.classList.replace('light-grey', 'digitalcolor1')
    }

    const amLight2 = document.querySelector('#amlight2')
    const pmLight2 = document.querySelector('#pmlight2') 
    
    if (nowHour >= 0 && nowHour <12) {
      amLight2.classList.replace('light-grey', 'digitalcolor2')
      pmLight2.classList.replace('digitalcolor2', 'light-grey')
      
    } else {
      amLight2.classList.replace('digitalcolor2', 'light-grey')
      pmLight2.classList.replace('light-grey', 'digitalcolor2')
    }



      //현재시간
      const presentYear = document.querySelector('#present-year')
      const presentMonth = document.querySelector('#present-month')
      const presentDay = document.querySelector('#present-day')

      // const Hours = document.querySelectorall('.hour')
      const Hours = document.querySelectorAll('.hour')
      const Mins = document.querySelectorAll('.min')
      // const Min = document.querySelector('.min')

      presentYear.innerText = nowYear
      presentMonth.innerText = nowMonth
      presentDay.innerText = nowDay

      Hours.forEach(Hour => {
        Hour.innerText = nowHour 
      })
      Mins.forEach(Min => {
        Min.innerText = nowMin  
      })

      //목적시간
      const destinationYear = document.querySelector('#year')
      const destinationMonth = document.querySelector('#month')
      const destinationDay = document.querySelector('#day')


  // 타임머신 숫자 줄어드는 기능
  const button = document.querySelector('#button')
  button.addEventListener('click', (e)=> {
    e.preventDefault()
    timemachine(presentYear, destinationYear)
    timemachine(presentMonth, destinationMonth)
    timemachine(presentDay, destinationDay)
    setTimeout(() => {
      document.querySelector('#homeform').submit()

    }, 1500);
  })

  function timemachine (present, destination) {
    var $counter = $(present),
        startVal = $counter.text(),
        currentVal,
        endVal = destination.value


    currentVal = startVal;
    var i = setInterval(function ()
    {
        if (currentVal == endVal)
        {
            clearInterval(i)
        }
        else if (currentVal > endVal )
        {   
            currentVal--;
            $counter.text(addZero(currentVal))
        }
        else {
            currentVal++;
            $counter.text(addZero(currentVal))
        }
    }, 100);
  }



  </script>
{% endblock script %}
