{% extends 'base.html' %}
{% load static %}

{% block content %}

  <form id="homeform" action="{% url 'movies:movies' %}" method="GET">


    <!-- time machine -->
    <div class="container homebox" style="background-color:grey; max-width:780px; margin-top:150px; ">
      <!-- destination title-->
      <div class="row">
        <div class="col-12 my-2 d-flex justify-content-center" style="text:center;">
          <h1 class="label tracking-in-expand" style="">DESTINATION TIME</h1>
        </div>
      </div>

      <!-- input & tags-->
      
        <div class="row">

          <div class="col-3 d-flex flex-column justify-content-center align-items-center">
            <input class="digitalinput " type="number" id="year" name="year" min="1" max="2020">
            <h1 class="dymo">YEAR</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <input class="digitalinput " type="number" id="month" name="month" min="1" max="12">
            <h1 class="dymo">MONTH</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <input class="digitalinput " type="number" id="day" name="day" min="1" max="31">
            <h1 class="dymo">DAY</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8" id="amlight" class="light-grey amlight">
            </svg>
            <h1 class="dymo p-0">AM</h1>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8" id="pmlight" class="light-grey pmlight" >
            </svg>
            <h1 class="dymo p-0">PM</h1>
          
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 hour" id="hour">08</p>
            <h1 class="dymo">HOUR</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 min" id="min">33</p>
            <h1 class="dymo">MIN</h1>
          </div>


        </div> <!-- input & tag 닫는 div-->  
    </div> <!-- timemachine container 닫는 div -->


    <!-- 현재시간 정보-->

    <div class="container homebox" style="background-color:grey; max-width:780px; margin-top:150px; ">
      <!-- present title-->
      <div class="row">
        <div class="col-12 my-2 d-flex justify-content-center" style="text:center;">
          <h1 class="label tracking-in-expand" style="">PRESENT TIME</h1>
        </div>
      </div>

      <!-- input & tags-->
      
        <div class="row">

          <div class="col-3 d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 year" id="present-year">2008</p>
            <h1 class="dymo">YEAR</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 month" id="present-month">08</p>
            <h1 class="dymo">MONTH</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 day" id="present-day">08</p>
            <h1 class="dymo">DAY</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8" id="amlight" class="light-grey amlight">
            </svg>
            <h1 class="dymo p-0">AM</h1>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8" id="pmlight" class="light-grey pmlight" >
            </svg>
            <h1 class="dymo p-0">PM</h1>
          
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 hour" id="hour">08</p>
            <h1 class="dymo">HOUR</h1>
          </div>

          <div class="col d-flex flex-column justify-content-center align-items-center">
            <p class="digitalinput m-0 min" id="min">33</p>
            <h1 class="dymo">MIN</h1>
          </div>


        </div> <!-- input & tag 닫는 div-->  
    </div> <!-- timemachine container 닫는 div -->



    <div class="container d-flex justify-content-center align-items-center">
      <button class="m-5 cumstom-button lg-button" id="button"> Let's Go! </button>
    </div>
  </form>


{% endblock content %}


{% block script %}

  <script>
    document.getElementById("year").onkeyup= function() {
       var input=parseInt(this.value);
       if(input<0 || input>2020) {
        alert("Value should be between 0 - 2020");
        this.value = ''
       }
       return;
    }    
    document.getElementById("month").onkeyup= function() {
       var input=parseInt(this.value);
       if(input<0 || input>12) {
        alert("Value should be between 1 - 12");
        this.value = ''
       }
       return;
    }    
    document.getElementById("day").onkeyup= function() {
       var input=parseInt(this.value);
       if(input<0 || input>31) {
        alert("Value should be between 1 - 31");
        this.value = ''
       }
       return;
    }    

    function addZero (i){
      parseInt(i)
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }
    const now = new Date()
    console.log(now)
    
    //현재 시간 변수들
    const nowYear = now.getFullYear()
    const nowMonth = addZero(now.getMonth() +1)
    const nowDay = now.getDate()
    const nowHour = addZero(now.getHours())
    const nowMin = addZero(now.getMinutes())

    const amLights = document.querySelectorAll('.amlight')
    const pmLights = document.querySelectorAll('.pmlight') 
      amLights.forEach(amLight => {
        if (nowHour >= 0 && nowHour <12) {
        amLight.classList.replace('light-grey', 'light-green')
        
      } else {
        amLight.classList.replace('light-green', 'light-grey')
      }
      })

      pmLights.forEach(pmLight => {
        if (nowHour >= 0 && nowHour <12) {
          pmLight.classList.replace('light-green', 'light-grey')
        
      } else {
        pmLight.classList.replace('light-grey', 'light-green')
      }
      })

      //현재시간
      const presentYear = document.querySelector('#present-year')
      const presentMonth = document.querySelector('#present-month')
      const presentDay = document.querySelector('#present-day')

      // const Hours = document.querySelectorall('.hour')
      const Hours = document.querySelectorAll('.hour')
      const Mins = document.querySelectorAll('.min')
      // const Min = document.querySelector('.min')

      presentYear.innerText = nowYear
      presentMonth.innerText = nowMonth
      presentDay.innerText = nowDay

      Hours.forEach(Hour => {
        Hour.innerText = nowHour 
      })
      Mins.forEach(Min => {
        Min.innerText = nowMin  
      })

      //목적시간
      const destinationYear = document.querySelector('#year')
      const destinationMonth = document.querySelector('#month')
      const destinationDay = document.querySelector('#day')


  // 타임머신 숫자 줄어드는 기능
  const button = document.querySelector('#button')
  button.addEventListener('click', (e)=> {
    e.preventDefault()
    timemachine(presentYear, destinationYear)
    timemachine(presentMonth, destinationMonth)
    timemachine(presentDay, destinationDay)
    setTimeout(() => {
      document.querySelector('#homeform').submit()
    }, 1500);
  })

  function timemachine (present, destination) {
    var $counter = $(present),
        startVal = $counter.text(),
        currentVal,
        endVal = destination.value


    currentVal = startVal;
    var i = setInterval(function ()
    {
        if (currentVal == endVal)
        {
            clearInterval(i)
        }
        else if (currentVal > endVal )
        {   
            currentVal--;
            $counter.text(addZero(currentVal))
        }
        else {
            currentVal++;
            $counter.text(addZero(currentVal))
        }
    }, 100);
  }



  </script>
{% endblock script %}
