{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container moviecontainer mx-auto d-flex flex-column justify-content-center">
    <div class="row row-cols-5 d-flex justify-content-around">
      {% for movie in movies_detail %}
        <div class="col moviecard d-flex justify-content-start">
        {% comment %} <div class="col moviecard"> {% endcomment %}
          <div>
            <a href="{% url 'movies:moviedetail' movie.movie_id %}">
              <img class="moviecard-img" src={{movie.poster}} alt="">
            </a>
            <div class="text-white card-list">
              <div class="card-list-item d-flex justify-content-between">
                <div>예매율</div>
                <div class="text-danger font-weight-bold">{{ movie.movie.sales_share }}%</div>
              </div>
              <div class="card-list-item" style="font-size:0.8em;">
                개봉일 : {{ movie.movie.open_dt }}
              </div>
              <div class="card-list-item" style="font-size:0.5em;">
                등급 : {{ movie.grade }}  |  장르 : {{ movie.genre }}
              </div>
            </div>
          </div>
          <p class="movierank"> {{ movie.movie.rank }} </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}