{% extends 'base.html' %}
{% load static %}

{% block content %}
  

  <div class="container">
    <h1 class="mt-4 pt-4 mb-0 pb-0" style="color:white; text-align:center; font-family:dh;">{{ rank_1_movie_title }}에 가려진 명작 
    <a href="{% url 'movies:moviedetail' hidden_movie.movie_id %}">{{ hidden_movie.movie.movie_name }}</a></h1>
  </div>

  <div class="container moviecontainer mx-auto d-flex flex-column justify-content-center">
    <div class="row row-cols-5 d-flex justify-content-around">
      {% for movie in movies_detail %}
        <div class="col moviecard d-flex justify-content-start">
          <div>
            <a href="{% url 'movies:moviedetail' movie.movie_id %}">
              <img class="moviecard-img" src={{movie.poster}} alt="">
            </a>
            <div class="text-white card-list p-2 my-3" style="background-color:rgb(26, 23, 23);">
              <div class="card-list-item d-flex justify-content-between">
                <div style="color:rgb(212, 208, 208);">예매율</div>
                <div class="font-weight-bold" style="color:#B50D13;">{{ movie.movie.sales_share }}%</div>
              </div>
              <div class="card-list-item" style="font-size:0.5em; text-align:start; color:rgb(212, 208, 208);">
                {{ movie.movie.open_dt }}개봉|{{ movie.grade }} | {{ movie.genre }} 
              </div>
            </div>
          </div>
          <p class="movierank"> {{ movie.movie.rank }} </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}