{% extends 'base.html' %}
{% load static %}

{% block content %}

{% comment %} <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<a href="/1" data-toggle="modal" data-target="#exampleModal">모달모달</a> {% endcomment %}

{% comment %} <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content d-flex flex-column" style="border-radius:0; border:none;" > {% endcomment %}
  <div class="container moviecontainer p-0" style="">

    <div class="d-flex flex-column">
      <!-- 디테일 화면 이미지-->
      <div style="position:relative;" class="d-flex">
        <div style="width:100%;">
          <img style="width:100%;" src={{movie_detail.viewer_img}} alt="movieimage">
        </div>
        <h1 class="movietitle">{{ movie_info.movie_name}}</h1>
      </div>
      
      <!-- 디테일 내 컨텐트 -->
      <div class="p-3">
        <div class="py-1"> <!-- 제작정보 -->
          감독 {{movie_detail.staff1}} | 개봉 {{movie_info.open_dt }} | 등급 {{movie_detail.grade}} | 장르 {{movie_detail.genre}} | 러닝타임 {{ movie_detail.running_time}}
        </div>
        <div> 
          {{movie_detail.overview}}
          {% lorem 5 b random %}
        </div>
      </div>

      <div style="border-bottom=1px solid black; border-top:1px;">
      </div>

      <div class="p-3">
        <p><a href="">타노스, 당신을 잊지 않겠습니다.</a> thanos*** | 2020-10-10 | 추천 : 1738</p>
        <span>{% lorem 1 b random %}</span>

      </div>



      <!-- 댓글 -->
      {% comment %} <div class="container m-0 p-3" style="max-width:800px; width=100%;"> 
        <div class="row">
          <div class="col-1">
            <div class="mini-prf-container">
              <!-- 로그인 된 유저 정보로 할 것-->
              <img class="profile-photo" src="{% static 'images/profile_default.jpg' %}" alt="profile">
            </div>
          </div>
          <div class="col-11">
            <input class="reviewinput" type="text" style=" width=500px;" size="75">
            <button class="">등록</button>
            <button class="">취소</button>
          </div>
        </div>
      </div> {% endcomment %}

    </div>
    
  </div>
  
  

{% comment %} 
    </div>
  </div>
</div> {% endcomment %}

{% endblock content %}