{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>movies</h1>
  <div class="container moviecontainer mx-auto d-flex flex-column justify-content-center">
    <div class="row row-cols-5 d-flex justify-content-around">
      <div class="col moviecard  d-flex justify-content-start">
        <a href="">
          <img class="moviecard-img" src="{% static 'movies/images/sample.jpg' %}" alt="">
        </a>
        <p class="movierank"> 1 </p>
      </div>
      {% comment %} 여기부터 지우기 {% endcomment %}
      <div class="col moviecard d-flex justify-content-center">
        <a href="">
          <img class="moviecard-img" src="{% static 'movies/images/sample.jpg' %}" alt="">
        </a>
      </div>
      <div class="col moviecard d-flex justify-content-center">
        <a href="">
          <img class="moviecard-img" src="{% static 'movies/images/sample.jpg' %}" alt="">
        </a>
      </div>
      <div class="col moviecard d-flex justify-content-center">
        <a href="">
          <img class="moviecard-img" src="{% static 'movies/images/sample.jpg' %}" alt="">
        </a>
      </div>
      <div class="col moviecard d-flex justify-content-center">
        <a href="">
          <img class="moviecard-img" src="{% static 'movies/images/sample.jpg' %}" alt="">
        </a>
      </div>
      <div class="col moviecard d-flex justify-content-center">
        <a href="">
          <img class="moviecard-img" src="{% static 'movies/images/sample.jpg' %}" alt="">
        </a>
      </div>
      <div class="col moviecard d-flex justify-content-center">
        <a href="">
          <img class="moviecard-img" src="{% static 'movies/images/sample.jpg' %}" alt="">
        </a>
      </div>
      <div class="col moviecard d-flex justify-content-center">
        <a href="">
          <img class="moviecard-img" src="{% static 'movies/images/sample.jpg' %}" alt="">
        </a>
      </div>
      <div class="col moviecard d-flex justify-content-center">
        <a href="">
          <img class="moviecard-img" src="{% static 'movies/images/sample.jpg' %}" alt="">
        </a>
      </div>
      <div class="col moviecard d-flex justify-content-center">
        <a href="">
          <img class="moviecard-img" src="{% static 'movies/images/sample.jpg' %}" alt="">
        </a>
      </div>
      {% comment %} 여기까지 지우기 {% endcomment %}
    </div>
  </div>



</div>

{% endblock content %}